

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#logo {
    width: 200px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 20px auto; /* Center the image */
  }

#recordButton {
    background-color: red;
    color: white;
    font-size: 24px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#recordButton.thinking {
    background-color: green;
}

#audioPlayer {
    display: none;
}

#deviceSelect {
    margin-bottom: 20px;
}

.equalizer {
    margin: 0 auto; /* Center horizontally */
    width: fit-content; /* Or set a specific width if needed */
  }
  
.equalizer div {
    width: 5px;
    height: 100%;
    background: #00f;
    animation: bounce 1s infinite;
}

.equalizer div:nth-child(2) {
    animation-delay: 0.1s;
}

.equalizer div:nth-child(3) {
    animation-delay: 0.2s;
}

.equalizer div:nth-child(4) {
    animation-delay: 0.3s;
}

.equalizer div:nth-child(5) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    0%, 100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0.3);
    }
} 